<div id="new_argument_form">
	<% form_remote_for :argument, :url => debate_arguments_url(@debate.id), :html => {:id => "argument_form"} do |f| %>
	  <%= f.error_messages %>

	  <p>
		<%= f.label :argument %><span class="helper_text">What do you think about this proposition?</span><br />
		<%= f.text_area :argument %>
	  </p>
	  <p>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :debate_id, :value =>@debate.id %> 
	  </p>
	  <p id="side_select_box">
		<span class="helper_text">Do you agree or disagree?</span>
		<%= radio_button(:argument, :side, "agree") %>
		<%= label_tag(:argument_side_agree, "agree") %>
		<%= radio_button(:argument, :side, "disagree") %>
		<%= label_tag(:argument_side_disagree, "disagree") %><br />	
	  </p>
	  <p>
		<%= f.submit "Make my point" %>
	  </p>
	<% end %>
	<%= set_focus_to_id "argument_argument" %>
</div>